@charset "utf-8";
#register-div{
	position: sticky;
	position: absolute;
	z-index: 6;
	top:15vh;
	left:35vw;
	width:60vw;
	border:solid;
	border-color: black;
	padding:0px 0px;
	background: rgb(255,255,255);
	display:none;
}
.reg-col{
	margin-left:1vw;
	margin-top:1vw;
}
.reg-btn{
	height:3.6vh;
	padding-top:0vh;
	padding-bottom:3vh;
	margin:0vw 1vw;
	font-size:2vh;
}
#reg{
	font-size:2vw;
	color:ghostwhite;
}
#bottom-reg{
	height:5vh;
	padding:0.3vh 0.5vw;
}
#profile{
	position: absolute;
	right: -25vw;
	top:-4vw;
	z-index: 1;
}
.ins-reg{
	width:15vw;
	margin-left: 3vw;	
}


#browse-btn{
	margin-left: 50vw;		
}

.reg_img{ 
	border-radius: 50%;
	height: 5vw;
	width: 5vw;
}
.reg_img_small{
	margin-top: -0.5vw; 
	border-radius: 50%;
	height: 2.5vw;
	width: 2.5vw;
}
.all-screen-lv4{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(51,51,51);
    opacity: 0.3;
    z-index: -1;
}
.all-screen-lv5{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(51,51,51);
    opacity: 0.3;
    z-index: 2;
}
.internal-div{
	background: rgb(255,255,255);
    opacity: 1;
    z-index: 1;
}